/* stylelint-disable */
@charset 'UTF-8';

@font-face {
  font-family: 'Jibril Regular Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Jibril Regular Regular'), url('./JibrilRegular.woff') format('woff');
}

:root {
  --main-bg-color: #f7f3e5;
  --main-text-color: #c5a879;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}

body {
  width: 100vw;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  background: var(--main-bg-color);
  display: block;
}

main {
  width: 100vw;
  height: 100vh;
  max-height: -moz-available;
  max-height: -webkit-fill-available;
  max-height: fill-available;
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

figure {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s ease;
  &.active {
    display: flex !important;
  }
}

figcaption {
  z-index: 2;
  position: absolute;
  width: 100%;
  bottom: 2.5rem;
  text-align: center;
  vertical-align: middle;
  color: var(--main-text-color);
  font-size: 1rem;
  text-decoration: none;
  font-weight: 900;
  font-family: 'Jibril Regular Regular';
}

img {
  border: none;
}

@media only screen and (max-width: 600px) {
  img {
    width: calc(100% - 2rem);
    height: auto;
  }
}

@media only screen and (min-width: 600px) {
  img {
    width: calc(100% - 2rem);
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  img {
    width: calc(100% - 2rem);
    height: auto;
  }

  figcaption {
    bottom: 3rem;
  }
}

@media only screen and (min-width: 820px) {
  img {
    width: calc(100% - 2rem);
    height: auto;
  }

  figcaption {
    bottom: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  img {
    height: calc(100% - 2rem);
    width: auto;
  }

  figcaption {
    bottom: 0.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  img {
    height: calc(100% - 2rem);
    width: auto;
  }
}

button {
  z-index: 99;
  position: fixed;
  top: 50%;
  border-radius: 50%;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.5s ease;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  border-color: var(--main-text-color);
  cursor: pointer;
  outline: none;
  outline: 0;
  appearance: none;

  i {
    color: var(--main-text-color);
  }

  &:hover {
    background-color: var(--main-text-color);
    border-color: transparent;
    i {
      color: white;
    }
  }

  &.next {
    right: 0.125rem;
    display: none;
  }
  &.prev {
    left: 0.125rem;
    display: none;
  }
}
